.catalog {
    padding-top: 100px;
    margin-bottom: 150px;
}

.catalogTitle {
    margin-bottom: 100px;
}

.catalogBox {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.cart {
    width: 350px;
}

.cartImage {
    width: 100%;
    height: 350px;
    background-color: #ffffff;
}

.cartContent {
    font-size: 20px;
}

.cartName {
    margin-bottom: 20px;
}

.cartSize {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartSizeTitle {
    margin-bottom: 20px;
}

.cartSizeBox {
    display: flex;
    gap: 20px;
}

.cartSizeItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    user-select: none;

    transition: background-color .3s ease, color .3s ease;
    cursor: pointer;
}

.cartSizeItem:hover {
    color: #181A1B;
    background-color: #ffffff;
}

.cartSizeItem.active {
    color: #181A1B;
    background-color: #ffffff;
}

.cartPrice {

}

.catalogButton {
    cursor: not-allowed;
    border-color: transparent;
    opacity: .3 ;
    transition: border-color .3s ease, opacity .3s ease;
}

.catalogButton.active {
    border-color: #ffffff;
    opacity: 1;
    cursor: pointer;
}